<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM_Shop"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxpe-bTRPWjT84zG9G1hVbKjHgFqCduD4"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".activities.BlankActivity"></activity>
        <activity android:name=".activities.RegisterActivity"></activity>
        <activity android:name=".activities.ProductActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.ProductDetailActivity" />
        <activity android:name=".activities.UserActivity"></activity>
        <activity android:name=".activities.BaseActivity"></activity>
        <activity android:name=".activities.CartActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="demozpdk"
                    android:host="app" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserInformationActivity"></activity>

        <activity android:name=".activities.UpdateUserActivity"></activity>
        <activity android:name=".activities.ManagePageActivity"></activity>


        <activity android:name=".activities.UserListActivity" />
        <activity android:name=".activities.ProductOptionActivity" />

        <activity android:name=".activities.OrderActivity"></activity>
        <activity android:name=".activities.CreateProductActivity" />

        <activity android:name=".activities.UpdateProductActivity" />
        <activity android:name=".activities.ProductManageActivity" />

        <activity android:name=".activities.EditUserActivity"></activity>
        <activity android:name=".activities.SettingActivity"></activity>

        <activity android:name=".activities.ChangePasswordActivity"></activity>

        <activity android:name=".activities.OrderAdminActivity"></activity>


        <activity android:name=".activities.PaymentActivity"></activity>

        <activity android:name=".activities.MessageActivity"></activity>



    </application>

</manifest>